{% extends 'navigation.html'%}
{% load static %}

{% block body %}

<div class="container">
    <h2 class="text-center text-primary font-weight-bold mt-5">About Us</h2>
    <div class="row mt-5">

        <div class="col-sm-8 text-center mt-5">
                <b>This is simple gym management project developed using python django, html, css ,
                javascript,and bootstrap.</b>
        </div>
    </div>
</div>
{% endblock%}
{% block css %}
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;
}
{% endblock %}
{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
    </div>
</footer>
{% endblock%}